body {
  font-family: sans-serif;
}

table,
td,
th,
caption {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

caption {
  text-align: start;
}

div.reserveringTitel {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}